* {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
    line-height: 1;
}
p {
    margin: 0;
}
a, li {
    text-decoration: none;
}

.section {
    display: block;
}

.wrapper {
    margin: 0 auto;
    width: 1160px;
   }

.button-explore {
    display: inline-block;
    padding: 15px 23px;
    border-radius: 5px;
    margin-top: 6px;
    /* border-top: 5px solid #FFFFFF; */
    color: #FFFFFF;
    background-color:  #18CFAB;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.1;
    text-align: center;
    text-transform: uppercase;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    background-color: rgba(94, 93, 88, 0.6);
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.hexagon {
    display: inline-grid;
    place-items: center;
    width: 58px;
    height: 67px;
    background-color: #18CFAB;
    color: #FFFFFF;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    font-weight: 700;
        font-size: 40px;
        line-height: 1.29;
}

.logo {
    margin-top: 26px;
    margin-right : 305px;
}
.logo-the {
font-weight: 400;
    font-size: 32px;
    line-height: 1.5px;
    color: #FFFFFF;
}

.logo-ham {
font-weight: 700;
    font-size: 32px;
    line-height: 1.5px;
    color:#18CFAB;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-menu {
    display: flex;
    margin: 0;
}

.nav-link {
    margin-right: 22px;
    padding-bottom: 50px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}

.nav-img {
    padding: 49px 0 49px;
}

.nav-link:hover{
        color: #18CFAB;
            border-bottom: 2px solid #18CFAB;
}
.nav-img:hover {
    color: #18CFAB;
    border-bottom:2px solid #18CFAB;
    padding: 49px 0 47px;

}


/*  hero */

.hero {
  background: url('../img/background/section-1.jpg');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1000px;
  align-items: center;
}

h2 {
  color: #FFFFFF;  
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.hero-slogane {
    color: #18CFAB;
}

.main-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.hero-heading {
  color: #D4D4D4;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 146px;
}

.hero-item {
    display: inline-block;
    height: 67px;
    background-color: #FFFFFF;
    margin: 0 14px;
    border-radius: 5px;

}
.button-purchase {
    padding: 15px 16px;
    background-color: #00CBF6;
}

.header-none {
    display: none;
}


.options-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 370px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 8px;
}

.options-list li{
    flex-grow: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #18CFAB;
    background: #1C2A33;
}

.options-list li:nth-child(2n) {
    color: #FFFFFF;
    background: #18CFAB;
}

.options-lis p {
    margin-top: 48px;
}

/* Our Service */

.service {
    text-align: center;
    height: 375px;
}

.service-title {
    color: #4E4E4E;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    position: relative;
    margin: 90px auto 100px;
font-weight: 400;
}

.service-title::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: calc(50% - 40px);
    border-top: 1px solid #18CFAB;
    width: 78px;
}

.service-title::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: calc(50% - 25px);
    border-bottom: 1px solid #18CFAB;
    width: 78px;
}

.service-tabs {
    position: relative;
    display: flex;
}

.service-tabs li {
    width: 195px;
    flex-grow: 1;
    height: 70px;
}

.tabs-title {
    color: #717171;
    background-color: #F8FCFE;
    font-weight: 400;
    font-size: 16px;
    /* border: 1px solid #EDEFEF; */
    width: 100%;
    height: 100%;
	display: inline-block;
    text-transform: capitalize;
	border-right-width: 0;
	padding-top: 27px;
	cursor: pointer;
    }

.tabs-title:last-child {
    border-right-width: 1px;
}

.tabs-title::after {
    content: "";
    display: none;
    width: 0; height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #18CFAB;
    margin-left: 85px;
    margin-top: 25px;
}

.tabs-title.active-tabs {
    color: #FFFFFF;
    background-color: #18CFAB;
}

.tabs-title.active-tabs::after{
    display: block;
}


.tab-content {
	display: none;
    width: 1160px;
	left:0;
}

.tab-content.active-tab{
    display: block;
}

.tab-content img {
    float: left;
    width: 190px;
    margin-right: 13px;
}

.tab-content p {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
    margin-top: 27px;
}


/* Purchase */

.purchase{
    background: url('../img/background/section-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.purshase-background{
    background-color: rgba(0, 0, 0, 0.78);
}

.purshase {
    margin-top: 100px;
    text-align: center;
    height: 475px;
}

.purshase h2 {
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    padding: 127px 0 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.purshase p {
    color: #D8D8D8;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    margin: 0;
    }

.purshase div {
    margin-top: 62px;
}


.photo-work {
    background-color: #E9EDEF;
    text-align: center;
}

.photo {
    text-align: center;
    padding: 100px 0 70px;
}

.photo-title {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.11;
    position: relative;
}

.photo-title::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: calc(50% - 40px);
    border-top: 1px solid #18CFAB;
    width: 80px;
}

.photo-title::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: calc(50% - 25px);
    border-bottom: 1px solid #18CFAB;
    width: 76px;
}

.photo-tables {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 70px;
   }

.photo-button {
    color: #717171;;
    font-size: 14px;
    line-height: 2;
    border: 1px solid #DADADA;
    border-right: none;
    background: transparent;
    /* padding: 15px; */
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    height: 58px;
}

.photo-button:last-child {
    border-right: 1px solid #DADADA;
} 

 .photo-button.active,
 .photo-button:hover {
    color: #18CFAB;
    border: 2px solid #18CFAB;
    padding: 0 14px;
    /* padding-top: 14px;
    padding-bottom: 14px; */
}

.photo-table {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.photo-item {
    width: 285px;
    height: 205px;
    /* display: none; */
}

/* .photo-item:nth-child(-n + 12) {
    display: inline-block;
} */
.wrapper-button-explore {
    padding-top: 70px;
}
.button-explore-more {
    display: none;
}
.photo-item.hidden {
    display: none;
}

.photo-hidden {
    display: none;
    border-top: 3px solid #18CFAB;
}

.photo-item:hover .photo-hidden{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.photo-item:hover .photo-image {
    display: none;
}

.photo-item.portfolio-hide{
    display: none;
}
.photo-image {
    height: 206px;
}
.photo-item.hidden{
    display: none;
}

.work-list{
display: flex;
justify-content: space-between;
    width: 88px;
    margin: 45px auto 0;

}
.work-item{
    display: inline-grid;
    place-items: center;
    width: 43px;
    height: 43px;
    border: 1px solid #18CFAB;
    border-radius: 100%;
}
.work-item:hover{
    background-color: #18CFAB;
}
.work-item:hover .work-square {
    background-color: #E9EDEF;
}
.work-item:hover .work-img {
filter: brightness(7) sepia(0.3) hue-rotate(180deg);
}
.work-square{
   width: 12px; 
   height: 12px;
   background-color: #18CFAB;
}
.photo-hidden-title {
    color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px 0 10px;
}

.photo-hidden-item {
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
}

.button-explore-more{
    display: inline-block;
    color: #FFFFFF;
    background-color:  #18CFAB;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    /* margin-top: 70px; */
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
}
.button-explore-item {
    padding-left: 10px;
}

/* Breaking news */

.news{
    text-align: center;
    height: 744px;
    width: 1200px;
}

.news-title{
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin: 82px 0 100px;
    position: relative;
}

.news-title::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: calc(50% - 40px);
    border-top: 1px solid #18CFAB;
    width: 78px;
}

.news-title::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: calc(50% - 25px);
    border-bottom: 1px solid #18CFAB;
    width: 78px;
}

.news-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 44px 35px;
}

.news li {
    position: relative;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    height: 280px;
}

.news-item-date {
    position: absolute;
    right: 0;
    top: 0;
    width: 66px;
    height: 65px;
    background: #203E38;
    align-items: center;
}

.news-item-date p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;   
}

.news-item-text{
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    padding: 13px 0;
    text-transform: capitalize;
}

.news-link {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    padding: 0 15px;
} 
.news-link-border {
    border-right: 1px solid #777777;
}

.news-item-link:hover .news-item-text {
    color: #18CFAB;
}

.news-item-link:hover .news-item-date {
    background: #18CFAB;
}

.feedback {
    background: url('../img/background/section-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.feedback-background{
    background-color:  rgba(0, 0, 0, 0.78);
}

.feedback-content{
    text-align: center;
    height: 853px;

}

.feedback-title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    padding-top: 100px;
    margin: 136px 0 100px;
    position: relative;
    text-transform: capitalize;
}

.feedback-title::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: calc(50% - 40px);
    border-top: 1px solid #18CFAB;
    width: 78px;
}

.feedback-title::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: calc(50% - 25px);
    border-bottom: 1px solid #18CFAB;
    width: 78px;
}


.feedback-content p:first-child {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.88;
    margin: 37px 0;
}

h4 {
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    text-transform: uppercase;
}

.feedback-content p:nth-child(3) {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    line-height: 2; 
}

.feedback-item img{
    margin: 25px 0;
}

.feedback-item{
    display: none;
}

.feedback-item.visible-slider{
    display: inline-block;
}

.feedback-img {
    border:12px solid rgba(31, 218, 181, 0.2);
    border-radius: 100%;
}

.slider {
    position: relative;
	width: 320px;
    margin: 0px auto;
}

.carousel {
    /* height: -90px; */
    display: flex;
    align-items:end;
    justify-content:space-evenly;
    /* margin-bottom: 100px; */
}

.slider-item {
    cursor: pointer;
    transition: 0.5s ease;
        border: 5px solid rgba(31, 218, 181, 0.2);
            border-radius: 100%;
}

.slider-item.active-slider {
	margin-bottom: 20px;  
}

.slider-btn {
	display: block;
	width: 31px;
	height: 31px;
    background-color:rgba(0, 0, 0, 0.0001);;
    border: 1px solid #BBBBBB;
    position: absolute;
	top: 50%;
    display: flex;
	align-items: center;
    cursor: pointer;
}

.slider-btn:hover {
    background-color: #18CFAB;
    border: 1px solid transparent;
}

.slider-btn:hover .slider-btn-img {
filter: brightness(0%) invert(100%);
}

.btn-prev {
	left: -27px;
	padding-left: 10px;
	justify-content: flex-start;
}

.btn-next {
	right: -27px;
	padding-right: 10px;
	justify-content: flex-end;
}



/* Footer */
.footer { 
    background-color: #22353F;
    text-align: center;
    height: 120px;  
}

.footer-text {
    color: #AEAEAE;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.86;
    text-transform: capitalize;
    /* margin-top: 5px; */
    padding-top: 47px;
}

.footer-text a{
    color: #18CFAB;;
    text-transform: none;
    padding-right: 1px;
}

.footer-link-border {
    border-right: 1px solid #AEAEAE;
}

