.inputField {
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  // background-color: aqua;
}
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  margin: 10px auto;
}

.input {
  height: 25px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}
.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
