.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  background: lightgreen;
  padding: 10px 150px 10px 10px;
}

.link {
  text-decoration: none;
}
