ul {
    margin: 0;
    padding: 0;
}

h2 {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.logo {
    font-size: 80px;
    line-height: 1.18;
    font-weight: 400;
    color: #000000;
    margin: 0 0 40px;
}

.logo-end {
    color: #4BCAFF;
}

/* Головне меню */
.site-nav {
    display: flex;
    font-size: 24px;
    list-style-type: none;
    padding: 0 132px 0 160px;
    background-color: #35444F;
}

.site-nav-item {
    color: #FFFFFF;
    list-style: none;
    padding: 24px 32px 18px;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    transition: background-color 0.5s ease;
}

.site-nav-item:first-child {
    border-left-color: #FFFFFF;
    border-left-width: 1px;
    border-left-style: solid;
}

.site-nav-item:hover {
    background-color: #222F3A;
}

.nav-link {
    text-decoration: none;
    transition: color 0.5s ease;
    color: #FFFFFF;
}

/* ТІЛО */
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 63px 0 30px;
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
}

.aside {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 344px;
}

.aside-item {
    font-size: 27px;
    line-height: 1.17;
    padding: 24px 42px;
    display: block;
    transition: all 0.5s ease;
}

.aside-link {
    color: #495863;
    text-decoration: none;
    transition: color 0.5s ease;

}

.aside-item:hover {
    background-color: #DBDBDB;
    padding-left: 80px;
}

.aside-item:hover>.aside-link {
    color: #000000;
}

.wrapper {
    display: flex;
    margin-top: 49px;
}

.img-wrapper {
    display: flex;
    height: 529px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.img-hero {
    display: block;
    width: 320px;
    height: 381px;
    transition: all 0.5s ease;
    text-decoration: none;
}

.img-hero:hover {
    transform: scale(1.2);
}

.text {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}


.text:first-child {
    margin: 37px 0 34px;
}

.hero {
    margin: 0 0 37px 52px;
}

.footer {
    display: flex;
    align-items: baseline;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-list {
    display: flex;
    padding: 20px 0 21px 40px;
    font-size: 28px;
    list-style: none;
    width: 915px;
    justify-content: space-between;
}

.footer-link {
    color: #0C1927;
    border-bottom: 1px solid transparent;
    padding-bottom: 13px;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;

}

.copyright {
    padding-left: 135px;
    font-size: 24px;
    color: #010101;
}