h1 {
    display: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center
}

.site-nav {
    padding: 25.5px 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 72px;
}

.nav-item:last-child {
    margin: 0px;
}

.nav-link {
    text-decoration: none;
    color: #FF0000;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    font-weight: 700;
}

.hero-img {
    vertical-align: bottom;
}

.title {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    margin: 48px 0 38px;
}

.text {
    font-family: Montserrat, sans-serif;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 0 0 28px;
    padding: 0 67.5px;
}

.button {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    min-height: 51px;
    min-width: 191px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.8px;
    font-weight: 700;
    margin: 66px 0 82px;
    cursor: pointer;
}

.copyright {
    font-family: Montserrat, sans-serif;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    font-weight: 700;
    text-align: right;
    padding: 0 105px;
    margin: 0 0 29px;
}