body {
    background-color: #171717;
    color: #FFFFFF;
    padding: 37px 0 239px;
    font-family: 'Gilam', sans-serif;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

h2 {
    margin: 0;
}

.call-img {
    margin-right: 10px;
}

.call-button {
    color: #E4B564;
    border: 1px solid #E4B564;
    margin-left: auto;
    padding: 10px 25px 10px;
    cursor: pointer;
    user-select: none;
    font-family: 'Circe', sans-serif;
    Font-size: 18px;
    line-height: 1.67;
}

.logo-link {
    cursor: pointer;
}

/*Секція 1 Наружные тепловые сети */
.section-services {
    padding-bottom: 80px;
    padding-top: 128px;
}

.title {
    font-size: 50px;
    line-height: 0.56;
}

.text {
    font-size: 20px;
    margin: 41px 0;
    line-height: 1.4;
}

.services {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 217px);
    grid-gap: 32px;
    grid-template-areas:
        "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5";
    Font-size: 20px;
    line-height: 1.4;
}

.services-item {
    display: grid;
    place-items: center;
    text-align: center;
}

.item-e {
    grid-area: item1;
    background-color: #634F2C;
}

.item-ul {
    grid-area: item2;
    background-color: #B4A385;
    padding-left: 44px;
    padding-right: 44px;
}

.item-dc {
    grid-area: item3;
    background-color: #E4B564;
}

.item-fs {
    grid-area: item4;
    background-color: #635A4A;
}

.item-dw {
    grid-area: item5;
    background-color: #B08C4D;
}

/* секція 2 Собственный парк строительной техники: */
.section-machinery {
    padding: 80px 0 176px;
}

.machinery {
    display: grid;
    grid-template-rows: 255px 32px 100px 152px 277px;
    grid-template-columns: repeat(3, 467px);
    grid-gap: 26px;
    grid-template-areas:
        "item-i item-k item-ba"
        "item-i item-k item-bw"
        "item-la item-k item-bw"
        "item-la item-ek item-bw"
        "item-la item-ek item-кatok";
    margin-top: 94px;
}


.machinery-item {
    display: grid;
    /* place-items: center;
    text-align: center; */
    place-items: self-start legacy;
    background-color: #B08C4D;
    padding-top: 44px;
    padding-left: 52px;
    Font-size: 20px;
    line-height: 1;

}

.accent-a {
    width: 225px;
}

.accent-b {
    width: 320px;
}

.item-i {
    grid-area: item-i;
    background-color: #0E0E0E;
}

.item-k {
    grid-area: item-k;
    background-color: #242424;
}

.item-ba {
    grid-area: item-ba;
    background-color: #1F1F1F;
}

.item-la {
    grid-area: item-la;
    background-color: #1F1F1F;
}

.item-ek {
    grid-area: item-ek;
    background-color: #E4B564;
    margin-bottom: 20px;
}

.item-bw {
    grid-area: item-bw;
    background-color: #0E0E0E;
}

.item-кatok {
    grid-area: item-кatok;
    background-color: #0A0909;
}

/* СЕКЦІЯ №3 */

.client-and-project {
    background-color: #0E0E0E;
    background-size: 100%;
    align-items: center;
    padding: 176px 0 0;
}

.all-projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
}

.button-project {
    display: grid;
    place-items: center;
    border: 1px solid #E4B564;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 1.67;
    cursor: pointer;
    user-select: none;
    font-family: 'Circe', sans-serif;
    color: #E4B564;
}

.project {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: repeat(6, 487px);
    grid-template-areas:
        "a b c"
        "d e f";
}

.client-project {
    display: grid;
    place-items: center;
}


.wrapper {
    display: grid;
    text-align: center;
    width: 328px;
    font-size: 22px;
    line-height: 1.27;
    position: relative;

}

.project-img {
    display: grid;
    place-self: center;
    transition: transform 0.3s ease;
}

.project-text {
    font-size: 22px;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.text-wrapper {
    width: 326px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-a {
    grid-area: a;
    background-color: #634F2C;
}

.project-b {
    grid-area: b;
    background-color: rgba(232, 210, 171, 0.76)
}

.project-c {
    grid-area: c;
    background-color: #E4B564;
}

.project-d {
    grid-area: d;
    background-color: #635A4A;
}

.project-e {
    grid-area: e;
    background-color: #B08C4D;
}

.project-f {
    grid-area: f;
    background-color: #634F2C;
}

.client-project:hover .project-text {
    opacity: 1;
}

.client-project:hover .project-img {
    transform: translatey(-70px);
}