.footer {
  background-color: #000000;
}

.footer-wrapper {
  max-width: 684px;
  margin: 0 auto;
  text-align: center;
  padding: 66px 0 70px;
}

.footer__title {
  color: #fefefe;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  margin-bottom: 22px;
  @include mediaMobile {
    font-size: 14px;
    line-height: 1.57;
  }
}

.footer__text {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  @include mediaMobile {
    font-size: 12px;
    line-height: 1.67;
    max-width: 305px;
    margin: 0 auto;
  }
}

.nav-socials {
  margin: 34px 0 37px;
  @include mediaMobile {
    margin: 26px 0 25px;
  }
  &__link {
    display: inline-block;
    border-radius: 50%;
    width: 34px;
    height: 34px;
  }
  &__link--rss {
    border: 2px solid #f8902e;
  }
  &__link--fb {
    border: 2px solid #39599f;
  }
  &__link--tw {
    border: 2px solid #45b0e3;
  }
  &__link--drbl {
    border: 2px solid #d97ab0;
  }
  &__link--pnt {
    border: 2px solid #cc212c;
  }
}

.nav-socials-img {
  padding-top: 9px;
}

.contacts-list {
  display: flex;
  justify-content: center;
  color: $footer-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  gap: 12px;
  &__contact {
    color: inherit;
  }
  @include mediaMobile {
    flex-direction: column;
    font-size: 14px;
    line-height: 1.71;
    gap: 0;
  }
}
