.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  margin: 0 auto;
  max-width: 815px;
  flex-grow: 1;
  &__link {
    color: $primary-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 2;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding: 16px 0;
  }
  &__link--active {
    color: $active-text-color;
  }
  &__item {
    @include mediaTablet {
      padding-left: 13px;
      padding-top: 10px;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
  @include mediaTablet {
    display: block;
    width: 182px;
    padding: 0;
    background: #f5f5f5;
    position: fixed;
    top: 55px;
    right: -200px;
    transition: 0.3s;
  }
}

.nav-list.active {
  @include mediaTablet {
    right: 15px;
    transition: 0.3s;
  }
}

.nav-burger {
  display: none;
  width: 44px;
  height: 37px;
  background-color: black;
  text-align: center;
  border: none;
  float: right;
  position: relative;
  @include mediaTablet {
    display: block;
    margin-bottom: 29px;
    position: fixed;
    right: 15px;
    top: 15px;
    transition: 0.3s;
  }
  @include mediaMobile {
    margin-bottom: 23px;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
