.hero {
  margin-top: 34px;
}

.hero__image {
  width: 100%;
}

.recent-posts__title {
  @include title-text;
  line-height: 1.38;
  text-transform: uppercase;
  margin: 66px 0 24px;
  @include mediaTablet {
    margin-top: 59px;
  }
  @include mediaMobile {
    font-size: 14px;
    line-height: 1.57;
    margin-top: 42px;
  }
}

.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 55px;
  row-gap: 32px;
  width: 100%;
  &__item {
    display: flex;
    column-gap: 20px;
    @include mediaMobile {
      flex-direction: column;
    }
  }
  &__img {
    max-width: 160px;
    max-height: 140px;
  }
  &__title {
    @include title-text;
    line-height: 1.88;
    margin-bottom: 1px;
    @include mediaMobile {
      font-size: 14px;
      line-height: 2.1;
    }
  }
  &__comment {
    color: #7c7c7c;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 13px;
    @include mediaMobile {
      font-size: 11px;
      line-height: 1.82;
    }
  }
  &__text {
    color: #5c5c5c;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    max-width: 405px;
    @include mediaMobile {
      display: none;
    }
  }
  @include mediaTablet {
    grid-template-columns: 1fr;
  }
}

// Section Latest Instagram Shots
.instagram-shots {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 47px 0;
  margin-top: 69px;
  @include mediaMobile {
    padding: 38px 0 42px;
    margin-top: 43px;
  }
}

.instagram-shots-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  text-transform: uppercase;
  &__title {
    @include title-text;
    line-height: 1.38;
    @include mediaMobile {
      font-size: 14px;
      line-height: 1.57;
    }
  }
  &__subtitle {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.69;
    @include mediaTablet {
      display: none;
    }
  }
}

.instagram-shots-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @include mediaTablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mediaMobile {
    grid-template-columns: 1fr;
  }
}

.instagram-shots-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
