.body {
    background-image: url("../img/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.header-title {
    font-size: 22px;
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0;
    transition: color 0.3s ease;
}

.header-title:hover,
.header-title:focus {
    color: #3CB878;
}

.list {
    display: flex;
}

.list-item {
    list-style-type: none;
}

.list-img {
    width: 23px;
    height: 23px;
    transition: fill 0.3s ease;
}

.list-img:hover {
    fill: #3CB878;
}

.item1 {
    margin-right: 27px;
}

.item2 {
    margin-right: 24px;
}

.item3 {
    margin-right: 27px;
}

.list-img {
    fill: #FFFFFF;
}

.text {
    font-size: 14px;
    line-height: 1;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 25px;
}

.link {
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    transition: color 0.3s ease;
    padding-left: 3px;
    padding-right: 3px;

}

.link:hover,
.link:focus {
    color: #3CB878;
}

/* section */
.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50vh + 29px);
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 444px;
    background-color: #FFFFFF;
    padding: 29px 61px;
}

.form::before {
    content: url("../img/shape.svg");
    position: absolute;
    left: 0;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.form-legend {
    font-size: 20px;
    color: #434343;
    line-height: 1;
}

.form-btn {
    font-size: 14px;
    color: #3CB878;
    line-height: 1;
    transition: color 0.3s ease;
}

.form-btn:hover,
.form-btn:focus {
    color: #01813F;
    text-decoration: underline;
}

.btn {
    color: #305DB8;
    font-size: 10px;
}

.form-wrap {
    display: flex;
    gap: 8px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    border-radius: 5px;
    position: relative;
    padding: 17px 0;
    color: #FFFFFF;
}

.button:first-child {
    padding-left: 67px;
    padding-right: 22px;
    background-color: #305DB8;
    transition: background-color 0.3s ease;
}

.button:first-child:hover,
.button:first-child:focus {
    background-color: #022263;
}

.button:last-child {
    padding-left: 80px;
    padding-right: 27px;
    background-color: #DF4A32;
    transition: background-color 0.3s ease;
}

.button:last-child:hover,
.button:last-child:focus {
    background-color: #AB1F09;
}

.button:first-child:before {
    position: absolute;
    left: 17px;
    content: url("../img/Facebook.svg");
    display: inline-block;
    width: 12.46;
    height: 24px;
}

.button:last-child:before {
    position: absolute;
    top: 15px;
    left: 12px;
    content: url("../img/Google.svg");
    display: inline-block;
    width: 12.46;
    height: 24px;
}

.button:after {
    content: "";
    border-right: 1px solid rgba(10, 22, 47, 0.2);
    position: absolute;
    left: 48px;
    height: 28px;
}

.form-social a:not(:last-child)::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-right: 10px solid black;
}

.form-text {
    color: rgba(132, 132, 132, 1);
    font-size: 14px;
    line-height: 1;
    margin-top: 31px;
    text-align: center;
    position: relative;
    margin-bottom: 12px;
}

.line {
    color: #F2F2F2;
    position: absolute;
    top: -5px;
}

.line:first-child {
    left: 0;
}

.line:last-child {
    right: 0;
}

.input {
    font-size: 14px;
    line-height: 1;
    color: #434343;
    margin-bottom: 15px;
    width: 324px;
    padding: 13px 19px;
    border-radius: 4px;
    border-color: #F2F2F2;
    border-width: 1px;
    border-style: solid;
    padding-left: 19px;
    transition: box-shadow 0.3s ease;
}

.input:hover,
.input:focus,
.input::before {
    outline: none;
    border-color: transparent;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.last {
    margin-bottom: 0;
}

.input::placeholder {
    color: #BEBEBE;
}

.wrap-checkbox {
    display: flex;
    align-items: center;
}

.desc {
    color: #434343;
}

.excerpt {
    color: #3CB878;
    transition: color 0.3s ease;
    margin-left: 3px;
    font-size: 14px;
}

.excerpt:hover,
.excerpt:focus {
    color: #01813F;
    text-decoration: underline;
}

.label {
    display: flex;
    align-items: center;
}

.desc[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: relative;
    cursor: pointer;
    outline: none;
    background-color: #FFFFFF;
    margin-right: 8px;
}

.desc[type="checkbox"]:checked::before {
    content: url("../img/checkbox.svg");
    width: 14px;
    height: 13.5px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.checkbox-text {
    color: #434343;
    font-size: 14px;
    line-height: 1;
    margin-top: 12px;
}

.submit {
    margin-top: 20px;
    padding: 13px 99px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 0.3s ease;
}

.submit:hover,
.submit:focus {
    background-color: rgba(1, 129, 63, 1);
}