.body {
    /* background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    color: #FFFFFF;
    margin: 0 auto;
    width: 1024px;

}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* хедер */

.wraper {
    display: flex;
    justify-content: space-between;

}


.wrap-logo {
    display: flex;
    text-transform: uppercase;
    margin-top: 51px;
}



.logo-link {
    display: flex;
    text-decoration: none;
}

.img-wraper {
    position: relative;
    width: 53px;

}

.logo-img {
    filter: none;
    transition: filter 0.3s ease;
    position: absolute;
    top: -1.5px;
}

.wrap-logo:hover .logo-img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(95%) saturate(5500%) hue-rotate(13deg) brightness(94%) contrast(89%);
}

.wrap-adress {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: flex-end;

}

.contact {
    display: flex;
    justify-content: flex-end;
    margin-top: 19px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    transition: all 0.3s ease;
}

.contact:hover {
    color: #F26522;
}

.wraper-logo {
    margin-left: 8px;
}

.logo-text {
    font-size: 29px;
    line-height: 1;
    font-weight: 700;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.wrap-logo:hover .logo-text {
    color: #F26522;
}

.desc {
    font-size: 18px;
    line-height: 1;
}

/* секція */
.section {
    margin-top: 17px;
}

.list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 62px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}

.img-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;
}

.img {
    height: 220px;
    width: 300px;
    vertical-align: middle;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
}

.wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F26522;
    transform: translateY(100%);
    padding: 7px 16px 12px;
    transition: transform 0.3s ease-out;
}

.link:hover .wrap {
    transform: translateY(0);
}

.from {
    display: flex;
    align-self: flex-start;
    font-size: 10px;
    line-height: 1;
    margin-bottom: 8px;
}

.inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price {
    font-size: 20px;
    line-height: 1;
}

.view {
    font-size: 14px;
    line-height: 1;
}

.view::after {
    content: url("../img/vector.png");
    margin-left: 16px;
}

.text {
    transition: color 0.3s ease;
}

.link:hover .text {
    color: #F26522;
}


/* футер */

.copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 15px;
}