.button {
    padding: 20px 30px;
    margin: 10px;          
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

