/* Затемнений фон поза модальним вікном */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* напівпрозорий темний фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер модального вікна */
.modal {
    /* background-color: #ffffff; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 516px;
    height: 252px;
    /* Змініть розмір за потребою */
    /* padding: 20px; */
    position: relative;
    /* Для позиціонування кнопки-хрестика */
    color: #ffffff;
    background-color: #e74c3c;
    font-family: "Helvetica Neue", sans-serif;
}

/* Заголовок модального вікна */
.modal-header {
    font-size: 22px;
    font-weight: 500;
    height: 68px;
    display: flex;
    /* display: block; */
    justify-content: space-between;
    background-color:#d44637;
    text-align: center;
    align-items:baseline ;
    padding: 10px 20px 0 30px

}

/* Кнопка-хрестик для закриття модального вікна */
.modal-close-button {
    background: none;
    border: none;
    font-size: 35px;
    color: rgb(70, 70, 70);
    cursor: pointer;
    padding: 150x 0 0;
    margin: 0;
}

/* Вміст модального вікна */
.modal-content {
    font-size: 15px;
    padding: 30px; ;
}

/* Кнопки внизу модального вікна */
.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
  
    
}

/* Стилі для кнопок Ok і Cancel */
.modal-actions button {
    height: 41px;
    padding: 0 15px;
    font-size: 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: #b3382c;
    width: 101px;
        border-radius: 5px;
}
